:root {
  /* https://colorhunt.co/palette/ffc93cdbf6e99ddfd331326f */
  --color-primary: #ffc93c;
  --color-light: #dbf6e9;
  --color-normal: #9ddfd3;
  --color-dark: #31326f;
  --header-height: 5rem;
}

* {
  box-sizing: inherit;
}

body {
  background-color: var(--color-primary);
  color: var(--color-dark);
  display: grid;
  grid-template-rows: var(--header-height) auto;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  margin: 0 auto;
  width: 350px;
}
