:root {
  /* https://colorhunt.co/palette/d4ecdd345b63152d35112031 */
  --color-primary: #d4ecdd;
  --color-light: #345b63;
  --color-normal: #152d35;
  --color-dark: #112031;
}

* {
  box-sizing: inherit;
}

body {
  background-color: var(--color-primary);
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  margin: 0 auto;
  width: 350px;
}
