.main {
  background-color: var(--color-normal);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: var(--header-height);
  padding: 0.5rem;
}

.main__title {
  margin: 0;
}
