.main {
  background-color: var(--color-normal);
  color: var(--color-primary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0.5rem;
}

.main__title {
  margin: 0;
}

.main__cards {
  display: flex;
  flex-direction: column;
}
