.navigation {
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.navigation__button {
  background-color: var(--color-light);
  border: 1px solid var(--color-dark);
  color: var(--color-primary);
  padding: 0.5rem;
  transition: all 0.3s ease-in;
}

.navigation__button:hover {
  background-color: var(--color-dark);
}

.navigation__button--active {
  background-color: var(--color-light);
  border: 1px solid var(--color-dark);
  color: var(--color-primary);
}
